<h1>Entrar</h1>
<form>
  <div class="field">
    <label class="field__label" for="email">Email</label>
    <input class="field__text" type="email" name="email" id="email" />
  </div>
  <div class="field">
    <label class="field__label" for="password">Senha</label>
    <div class="field__text--container">
      <input
        class="field__text"
        type="password"
        name="password"
        id="password"
      />
      <button class="field__text--append" type="button">Mostrar Senha</button>
    </div>
  </div>
  <div class="form-submit">
    <input type="submit" value="Entrar" />
  </div>
</form>
