<h1>Entrar</h1>
<form>
  <div class="field">
    <label class="field__label" for="email">Email</label>
    <input class="field__text" type="email" name="email" id="email" />
  </div>
  <div class="field">
    <label class="field__label" for="password">Senha</label>
    <div class="field__text--container">
      <input
        class="field__text"
        type="{{ showPassword ? 'text' : 'password' }}"
        name="password"
        id="password"
      />
      <button
        class="field__text--append"
        type="button"
        (click)="showPassword = !showPassword"
      >
        <img
          src="/assets/icons/{{
            showPassword ? 'eye-off-outline' : 'eye-outline'
          }}.svg"
          width="24px"
          height="24px"
          alt=""
        />
      </button>
    </div>
  </div>
  <button type="submit">Entrar</button>
</form>
{{ showPassword }}
